/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2020, 3:23:30 PM
    Author     : goaga
*/

/*
body {
  font: 100%   sans-serif;
  color: #333;
  font-size:14px;
  line-height:1.66666667;
  background-color:#fff
  
}
*/